<?xml version="1.0" encoding="utf-8"?>

<robot name="perch_structure">

  <link name="base_1">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="5.0" />
      <inertia  ixx="0.3" ixy="0.0"  ixz="0.0"  iyy="0.3"  iyz="0.0"  izz="0.3" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.6 0.6 0.6" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.6 0.6 0.6" />
      </geometry>
    </collision>
  </link>

  <link name="base_2">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="5.0" />
      <inertia  ixx="0.3" ixy="0.0"  ixz="0.0"  iyy="0.3"  iyz="0.0"  izz="0.3" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.6 0.6 0.6" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.6 0.6 0.6" />
      </geometry>
    </collision>
  </link>

  <link name="base_3">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="5.0" />
      <inertia  ixx="0.3" ixy="0.0"  ixz="0.0"  iyy="0.3"  iyz="0.0"  izz="0.3" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.6 0.6 0.6" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.6 0.6 0.6" />
      </geometry>
    </collision>
  </link>

  <link name="base_4">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="5.0" />
      <inertia  ixx="0.3" ixy="0.0"  ixz="0.0"  iyy="0.3"  iyz="0.0"  izz="0.3" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.6 0.6 0.6" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.6 0.6 0.6" />
      </geometry>
    </collision>
  </link>

  <link name="base_5">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="5.0" />
      <inertia  ixx="0.3" ixy="0.0"  ixz="0.0"  iyy="0.3"  iyz="0.0"  izz="0.3" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.6 0.6 0.6" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.6 0.6 0.6" />
      </geometry>
    </collision>
  </link>

  <link name="pillar1">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="1.0" />
      <inertia  ixx="0.08416666666" ixy="0.0"  ixz="0.0"  iyy="0.08416666666"  iyz="0.0"  izz="0.00166666666" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2" />
      </geometry>
    </collision>
  </link>

  <link name="pillar2">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="1.0" />
      <inertia  ixx="0.08416666666" ixy="0.0"  ixz="0.0"  iyy="0.08416666666"  iyz="0.0"  izz="0.00166666666" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2" />
      </geometry>
    </collision>
  </link>

  <link name="pillar3">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="1.0" />
      <inertia  ixx="0.08416666666" ixy="0.0"  ixz="0.0"  iyy="0.08416666666"  iyz="0.0"  izz="0.00166666666" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2" />
      </geometry>
    </collision>
  </link>

  <link name="pillar4">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="1.0" />
      <inertia  ixx="0.08416666666" ixy="0.0"  ixz="0.0"  iyy="0.08416666666"  iyz="0.0"  izz="0.00166666666" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2" />
      </geometry>
    </collision>
  </link>

  <link name="pillar5">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="1.0" />
      <inertia  ixx="0.08416666666" ixy="0.0"  ixz="0.0"  iyy="0.08416666666"  iyz="0.0"  izz="0.00166666666" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2" />
      </geometry>
    </collision>
  </link>

  <link name="cross1">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="1.0" />
      <inertia  ixx="0.08416666666" ixy="0.0"  ixz="0.0"  iyy="0.08416666666"  iyz="0.0"  izz="0.00166666666" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="6" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="6" />
      </geometry>
    </collision>
  </link>

  <link name="cross2">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="1.0" />
      <inertia  ixx="0.08416666666" ixy="0.0"  ixz="0.0"  iyy="0.08416666666"  iyz="0.0"  izz="0.00166666666" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="6" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="6" />
      </geometry>
    </collision>
  </link>

  <link name="cross3">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="1.0" />
      <inertia  ixx="0.08416666666" ixy="0.0"  ixz="0.0"  iyy="0.08416666666"  iyz="0.0"  izz="0.00166666666" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="6" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="6" />
      </geometry>
    </collision>
  </link>

  <link name="cross4">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="1.0" />
      <inertia  ixx="0.08416666666" ixy="0.0"  ixz="0.0"  iyy="0.08416666666"  iyz="0.0"  izz="0.00166666666" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="6" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="6" />
      </geometry>
    </collision>
  </link>

  <link name="sup1">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="1.0" />
      <inertia  ixx="0.08416666666" ixy="0.0"  ixz="0.0"  iyy="0.08416666666"  iyz="0.0"  izz="0.00166666666" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="1" />
      </geometry>
    </collision>
  </link>

  <link name="sup2">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="1.0" />
      <inertia  ixx="0.08416666666" ixy="0.0"  ixz="0.0"  iyy="0.08416666666"  iyz="0.0"  izz="0.00166666666" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="1" />
      </geometry>
    </collision>
  </link>

  <link name="sup3">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="1.0" />
      <inertia  ixx="0.08416666666" ixy="0.0"  ixz="0.0"  iyy="0.08416666666"  iyz="0.0"  izz="0.00166666666" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="1" />
      </geometry>
    </collision>
  </link>

  <link name="sup4">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="1.0" />
      <inertia  ixx="0.08416666666" ixy="0.0"  ixz="0.0"  iyy="0.08416666666"  iyz="0.0"  izz="0.00166666666" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="1" />
      </geometry>
    </collision>
  </link>

  <link name="sup5">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="1.0" />
      <inertia  ixx="0.08416666666" ixy="0.0"  ixz="0.0"  iyy="0.08416666666"  iyz="0.0"  izz="0.00166666666" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="1" />
      </geometry>
    </collision>
  </link>

  <link name="sup6">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="1.0" />
      <inertia  ixx="0.08416666666" ixy="0.0"  ixz="0.0"  iyy="0.08416666666"  iyz="0.0"  izz="0.00166666666" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="1" />
      </geometry>
    </collision>
  </link>

  <link name="sup7">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="1.0" />
      <inertia  ixx="0.08416666666" ixy="0.0"  ixz="0.0"  iyy="0.08416666666"  iyz="0.0"  izz="0.00166666666" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="1" />
      </geometry>
    </collision>
  </link>

  <link name="sup8">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="1.0" />
      <inertia  ixx="0.08416666666" ixy="0.0"  ixz="0.0"  iyy="0.08416666666"  iyz="0.0"  izz="0.00166666666" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="1" />
      </geometry>
    </collision>
  </link>




  <joint name="base_fix12" type="fixed">
    <origin xyz = "3 0 0"/>
    <parent link="base_1"/>
    <child link="base_2"/>
  </joint>

  <joint name="base_fix13" type="fixed">
    <origin xyz = "-3 0 0"/>
    <parent link="base_1"/>
    <child link="base_3"/>
  </joint>

  <joint name="base_fix14" type="fixed">
    <origin xyz = "0 3 0"/>
    <parent link="base_1"/>
    <child link="base_4"/>
  </joint>

  <joint name="base_fix15" type="fixed">
    <origin xyz = "0 -3 0"/>
    <parent link="base_1"/>
    <child link="base_5"/>
  </joint>

  <joint name="pillar_fix1" type="fixed">
    <origin xyz = "0 0 1.3"/>
    <parent link="base_1"/>
    <child link="pillar1"/>
  </joint>

  <joint name="pillar_fix2" type="fixed">
    <origin xyz = "0 0 1.3"/>
    <parent link="base_2"/>
    <child link="pillar2"/>
  </joint>

  <joint name="pillar_fix3" type="fixed">
    <origin xyz = "0 0 1.3"/>
    <parent link="base_3"/>
    <child link="pillar3"/>
  </joint>

  <joint name="pillar_fix4" type="fixed">
    <origin xyz = "0 0 1.3"/>
    <parent link="base_4"/>
    <child link="pillar4"/>
  </joint>

  <joint name="pillar_fix5" type="fixed">
    <origin xyz = "0 0 1.3"/>
    <parent link="base_5"/>
    <child link="pillar5"/>
  </joint>

  <joint name="cross_fix1" type="fixed">
    <origin xyz="0 0 1" rpy="0 1.57079632679 0"/>
    <parent link="pillar1"/>
    <child link="cross1"/>
  </joint>

  <joint name="cross_fix2" type="fixed">
    <origin xyz="0 0 0" rpy="0 1.57079632679 0"/>
    <parent link="pillar1"/>
    <child link="cross2"/>
  </joint>

  <joint name="cross_fix3" type="fixed">
    <origin xyz="0 0 1" rpy="1.57079632679 0 0"/>
    <parent link="pillar1"/>
    <child link="cross3"/>
  </joint>

  <joint name="cross_fix4" type="fixed">
    <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
    <parent link="pillar1"/>
    <child link="cross4"/>
  </joint>

  <joint name="sup_fix1" type="fixed">
    <origin xyz = "1 0 0.5"/>
    <parent link="pillar1"/>
    <child link="sup1"/>
  </joint>

  <joint name="sup_fix2" type="fixed">
    <origin xyz = "2 0 0.5"/>
    <parent link="pillar1"/>
    <child link="sup2"/>
  </joint>

  <joint name="sup_fix3" type="fixed">
    <origin xyz = "0 1 0.5"/>
    <parent link="pillar1"/>
    <child link="sup3"/>
  </joint>

  <joint name="sup_fix4" type="fixed">
    <origin xyz = "0 2 0.5"/>
    <parent link="pillar1"/>
    <child link="sup4"/>
  </joint>

  <joint name="sup_fix5" type="fixed">
    <origin xyz = "-1 0 0.5"/>
    <parent link="pillar1"/>
    <child link="sup5"/>
  </joint>

  <joint name="sup_fix6" type="fixed">
    <origin xyz = "-2 0 0.5"/>
    <parent link="pillar1"/>
    <child link="sup6"/>
  </joint>

  <joint name="sup_fix7" type="fixed">
    <origin xyz = "0 -1 0.5"/>
    <parent link="pillar1"/>
    <child link="sup7"/>
  </joint>

  <joint name="sup_fix8" type="fixed">
    <origin xyz = "0 -2 0.5"/>
    <parent link="pillar1"/>
    <child link="sup8"/>
  </joint>


<!--   <joint name="base_fix" type="fixed">
    <origin xyz="0 0 0"/>
    <parent link="world"/>
    <child link="base_link"/>
  </joint> -->

  <gazebo reference="base_1">
    <mu1>100.0</mu1>
    <mu2>100.0</mu2>
    <minDepth>0.003</minDepth>  
    <maxVel>0</maxVel>
    <!-- <kinematic> true </kinematic> -->
  </gazebo>

  <gazebo reference="base_2">
    <mu1>100.0</mu1>
    <mu2>100.0</mu2>
    <minDepth>0.003</minDepth>  
    <maxVel>0</maxVel>
    <!-- <kinematic> true </kinematic> -->
  </gazebo>

  <gazebo reference="base_3">
    <mu1>100.0</mu1>
    <mu2>100.0</mu2>
    <minDepth>0.003</minDepth>  
    <maxVel>0</maxVel>  
    <!-- <kinematic> true </kinematic> -->
  </gazebo>

  <gazebo reference="base_4">
    <mu1>100.0</mu1>
    <mu2>100.0</mu2>
    <minDepth>0.003</minDepth>  
    <maxVel>0</maxVel>  
    <!-- <kinematic> true </kinematic> -->
  </gazebo>

  <gazebo reference="pillar1">
    <mu1>100.0</mu1>
    <mu2>100.0</mu2>
    <minDepth>0.003</minDepth>  
    <maxVel>0</maxVel>
    <!-- <kinematic> true </kinematic> -->
  </gazebo>

  <gazebo reference="pillar2">
    <mu1>100.0</mu1>
    <mu2>100.0</mu2>
    <minDepth>0.003</minDepth>  
    <maxVel>0</maxVel>
    <!-- <kinematic> true </kinematic> -->
  </gazebo>

  <gazebo reference="pillar3">
    <mu1>100.0</mu1>
    <mu2>100.0</mu2>
    <minDepth>0.003</minDepth>  
    <maxVel>0</maxVel>  
    <!-- <kinematic> true </kinematic> -->
  </gazebo>

  <gazebo reference="pillar4">
    <mu1>100.0</mu1>
    <mu2>100.0</mu2>
    <minDepth>0.003</minDepth>  
    <maxVel>0</maxVel>  
    <!-- <kinematic> true </kinematic> -->
  </gazebo>

  <gazebo reference="pillar5">
    <mu1>100.0</mu1>
    <mu2>100.0</mu2>
    <minDepth>0.003</minDepth>  
    <maxVel>0</maxVel>  
    <!-- <kinematic> true </kinematic> -->
  </gazebo>

  <gazebo reference="cross1">
    <mu1>100.0</mu1>
    <mu2>100.0</mu2>
    <minDepth>0.003</minDepth>  
    <maxVel>0</maxVel>  
    <!-- <kinematic> true </kinematic> -->
  </gazebo>

  <gazebo reference="cross2">
    <mu1>100.0</mu1>
    <mu2>100.0</mu2>
    <minDepth>0.003</minDepth>  
    <maxVel>0</maxVel>  
    <!-- <kinematic> true </kinematic> -->
  </gazebo>

  <gazebo reference="cross3">
    <mu1>100.0</mu1>
    <mu2>100.0</mu2>
    <minDepth>0.003</minDepth>  
    <maxVel>0</maxVel>  
    <!-- <kinematic> true </kinematic> -->
  </gazebo>

  <gazebo reference="cross4">
    <mu1>100.0</mu1>
    <mu2>100.0</mu2>
    <minDepth>0.003</minDepth>  
    <maxVel>0</maxVel>  
    <!-- <kinematic> true </kinematic> -->
  </gazebo>

  <gazebo reference="sup1">
    <mu1>100.0</mu1>
    <mu2>100.0</mu2>
    <minDepth>0.003</minDepth>  
    <maxVel>0</maxVel>  
    <!-- <kinematic> true </kinematic> -->
  </gazebo>

  <gazebo reference="sup2">
    <mu1>100.0</mu1>
    <mu2>100.0</mu2>
    <minDepth>0.003</minDepth>  
    <maxVel>0</maxVel>  
    <!-- <kinematic> true </kinematic> -->
  </gazebo>

  <gazebo reference="sup3">
    <mu1>100.0</mu1>
    <mu2>100.0</mu2>
    <minDepth>0.003</minDepth>  
    <maxVel>0</maxVel>  
    <!-- <kinematic> true </kinematic> -->  
  </gazebo>

  <gazebo reference="sup4">
    <mu1>100.0</mu1>
    <mu2>100.0</mu2>
    <minDepth>0.003</minDepth>  
    <maxVel>0</maxVel>  
    <!-- <kinematic> true </kinematic> -->  
  </gazebo>

  <gazebo reference="sup5">
    <mu1>100.0</mu1>
    <mu2>100.0</mu2>
    <minDepth>0.003</minDepth>  
    <maxVel>0</maxVel>  
    <!-- <kinematic> true </kinematic> -->  
  </gazebo>

  <gazebo reference="sup6">
    <mu1>100.0</mu1>
    <mu2>100.0</mu2>
    <minDepth>0.003</minDepth>  
    <maxVel>0</maxVel>  
    <!-- <kinematic> true </kinematic> -->  
  </gazebo>

  <gazebo reference="sup7">
    <mu1>100.0</mu1>
    <mu2>100.0</mu2>
    <minDepth>0.003</minDepth>  
    <maxVel>0</maxVel>  
    <!-- <kinematic> true </kinematic> -->  
  </gazebo>

  <gazebo reference="sup8">
    <mu1>100.0</mu1>
    <mu2>100.0</mu2>
    <minDepth>0.003</minDepth>  
    <maxVel>0</maxVel>  
    <!-- <kinematic> true </kinematic> -->  
  </gazebo>
</robot>